* {
  font-family: "Plus Jakarta Sans";
  box-sizing: border-box;
}
body {
  background-color: #fffdf7;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
.input-number {
  width: 80px;
  padding: 0 12px;
  vertical-align: top;
  text-align: center;
  outline: none;
}

.input-number,
.input-number-decrement,
.input-number-increment {
  border: 1px solid #ccc;
  height: 40px;
  user-select: none;
}

.input-number-decrement,
.input-number-increment {
  display: inline-block;
  width: 30px;
  line-height: 38px;
  background: #f1f1f1;
  color: #444;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

.input-number-decrement:active {
  background: #ddd;
}

.input-number-decrement {
  border-right: none;
  border-radius: 4px 0 0 4px;
}

.input-number-increment {
  border-left: none;
  border-radius: 0 4px 4px 0;
}
.jumlah-tiket {
  color: #000;
  /* Lead Text */
  font-family: Plus Jakarta Sans;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
}
* {
  color: #0a3622;
}
@media only screen and (max-width: 576px) {
  .m-container {
    margin-left: 14px;
    margin-right: 14px;
  }
  .g-sm {
    gap: 16px;
  }
  .background-popup {
    background-color: #000;
    opacity: 0.8;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    position: fixed;
    height: 100%;
    display: none;
  }

  .popup {
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000;
    padding: 16px;
    display: none;
  }
  .popup-container {
    margin-bottom: 52px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 576px) {
  .m-container {
    margin-left: 30px;
    margin-right: 30px;
    column-gap: 30px;
    margin-top: 20px;
  }
  .popup {
    display: block;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .m-container {
    margin-left: 70px;
    margin-right: 70px;
    column-gap: 30px;
    margin-top: 20px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
