body {
  background: linear-gradient(rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%),
    url("../resources/Project-cicalengka/view-logo\ remove.png"), lightgray;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  /* background-blend-mode: saturation; */
}
h1 {
  letter-spacing: 1.4px !important;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 576px) {
  .m-container {
    margin-left: 14px;
    margin-right: 14px;
  }
  .g-sm {
    gap: 16px;
  }
  h1 {
    font-family: "Luckiest Guy", cursive;
    font-size: 1.25rem;
    color: #fff;
  }
  div a .btn {
    font-family: "Plus Jakarta Sans";
    color: #0a3622;
    font-weight: 700;
    font-size: 1.2rem;
  }
  h1 {
    letter-spacing: 1px !important;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 576px) {
  .m-container {
    margin-left: 70px;
    margin-right: 70px;
    column-gap: 30px;
  }
  h1 {
    font-family: "Luckiest Guy", cursive;
    color: #fff;
  }
  div a .btn {
    font-family: "Plus Jakarta Sans";
    color: #0a3622;
    font-size: 1.5rem;
    font-weight: 800;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
