body {
  background-color: #fffdf7;
}
btn {
  font-family: Plus Jakarta Sans;
}
.right-side {
  color: #0a3622;
  font-family: Plus Jakarta Sans;
}
@media only screen and (max-width: 576px) {
  .m-container {
    margin-left: 14px;
    margin-right: 14px;
  }
  .g-sm {
    gap: 16px;
  }
  h6 {
    /* H6 Bold */
    font-family: Plus Jakarta Sans;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  h3 {
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  h4 {
    margin-bottom: 2px;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
  }
  .display-4 {
    color: #265465;
    font-family: Plus Jakarta Sans;
    font-weight: 700;
    font-size: 29px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 576px) {
  .m-container {
    margin-left: 30px !important;
    margin-right: 30px !important;
    column-gap: 30px;
    margin-top: 20px;
  }

  h6 {
    /* H6 Bold */
    font-family: Plus Jakarta Sans;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  h3 {
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  h4 {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
  }
  .display-4 {
    font-family: Plus Jakarta Sans;
    font-weight: 700;
    font-size: 29px;
  }
}
@media only screen and (min-width: 768px) {
  .m-container {
    margin-left: 70px;
    margin-right: 70px;
    column-gap: 30px;
  }
  .display-4 {
    color: #265465;
    font-family: Plus Jakarta Sans;
    font-weight: 700;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  h3 {
    /* H3 Bold */
    font-family: Plus Jakarta Sans;
    font-size: 29px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  h4 {
    font-family: Plus Jakarta Sans;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
