body {
  background-color: #fffdf7;
}
* {
  color: #0a3622;
}
@media only screen and (max-width: 576px) {
  .m-container {
    margin-left: 14px;
    margin-right: 14px;
  }
  .g-sm {
    gap: 16px;
  }
  .qrcode {
    width: 75%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 576px) {
  .m-container {
    margin-left: 30px;
    margin-right: 30px;
    column-gap: 30px;
    margin-top: 20px;
  }
  .qrcode {
    width: 40%;
  }
  div > p {
    font-size: 24px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .m-container {
    margin-left: 70px;
    margin-right: 70px;
    column-gap: 30px;
    margin-top: 20px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
