body {
  /* height: 1500px; */
  display: flex;
  /* align-items: center; */
  height: fit-content;
  width: fit-content;
}
body .tiket-container {
  background-color: #f5f0ea;
  height: 400px;
  gap: 16px;
  display: flex;
  /* margin-top: 44px; */
  margin: 0px;
  padding: 0px;
  padding-right: 20px;
  width: 1150px;
  /* transform: rotate(-90deg); */
}
.kode-tiket-left {
  justify-content: center;
  /* align-items: center; */
  gap: 4px;
  align-self: stretch;
}
.kode-tiket-left p {
  transform: rotate(-180deg);
  writing-mode: vertical-rl;

  align-items: center;
  /* width: 100%; */
  /* height: 10%; */
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 140% */
  height: 100%;
  margin-bottom: 0px;
}
.info-paket {
  display: flex;
  padding: 20px 0px;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
}
.detail-paket {
  display: flex;
  gap: 16px;
}
.detail-paket img {
  width: 225px;
  object-fit: cover;
}
.nama-paket {
  color: #267154;
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
}
.right {
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
.list-wahana {
  display: flex;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.right h2 {
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
}
.keterangan-paket {
  gap: 8px;
}
.left {
  height: 100%;
}
.keterangan-paket .left h1 {
  color: #267154;
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}
.keterangan-paket .left .rule p {
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  margin: 0px;
}
.keterangan-paket .vr {
  width: 3px;
  background-color: #267154;
  opacity: 1;
  height: 100%;
}
.keterangan-paket h1 {
  color: #000;
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  margin: 0px;
  margin-bottom: 8px;
}
.logo {
  /* transform: rotate(-90deg); */
  width: 100%;
  height: 100%;
}
.kode-tanggal {
  display: flex;
  padding: 20px 0px;
  gap: 16px;
}
.kode-tanggal .label-tanggal,
.kode-tanggal .tanggal {
  display: flex;
  writing-mode: vertical-rl;
  transform: rotate(-180deg);
  justify-content: space-between;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 44px;
}
.kode-tanggal .label-tanggal p,
.kode-tanggal .tanggal p {
  margin: 0px;
}
.kode-tanggal .vr {
  width: 3px;
  background-color: #267154;
  opacity: 1;
}
.kode-tanggal .tanggal {
  color: #000;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px; /* 183.333% */
}
.kode-tanggal .tanggal p {
  margin-bottom: 12px;
}
.kode-tiket-right {
  justify-content: center;
  /* align-items: center; */
  gap: 4px;
  align-self: stretch;
}
.kode-tiket-right p {
  transform: rotate(-180deg);
  writing-mode: vertical-rl;

  /* width: 100%; */
  /* height: 10%; */
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 44px; /* 140% */
  height: 100%;
  margin-bottom: 0px;
  margin: 0px;
}
.kode-tiket-right:first-child {
  text-align: end;
}
